@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
  color: white;
  padding: 10px;
}

header {
  display: grid;
  grid-template-columns: 40% 60%;
  padding: 12px;
  background-color: #3AC672;
  align-items: center;
}

header img {
  width: 50%;
}

.sites {
  display: flex;
  justify-content: space-evenly;
  padding: 60px;
}

button {
  padding: 12px 10px;
  background-color: #DEF5DE;
}

.tabela {
  display: grid;
  justify-content: start;
}

.tabela h2 {
  color: black;
}

.topicos {
  list-style: none;
  background-color: #DEF5DE;
  padding: 40px;
}

.rodape {
  display: flex;
  justify-content: center;
  background-color: #3AC672;
}

footer img {
  width: 10%;
}

.texo {
  position: absolute;
  right: 440px;
  padding: 25px;
  font-size: x-large;
  color: black;
  font-family: "Inter", sans-serif;
  text-decoration: underline;
}

.texto {
  position: absolute;
  right: 365px;
  padding: 25px;
  font-size: x-large;
  color: black;
  font-family: "Inter", sans-serif;
  text-decoration: underline;
}

.título {
  text-align: center;
  padding: 40px;
  color: black;
  font-family: "Inter", sans-serif;
  font-style: italic;
}



.ma {
  width: 36%;
  height: 2%;
  padding: 19px 42px;
  background-color: #DEF5DE;
}






.color {
  color: black;
  padding: 73px 1px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 240;
  font-style: italic;

}

.título2 {
  display: flex;
  padding: 10px;
  color: black;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  position: absolute;
  padding: 8% 15%;
}

.título3 {
  display: flex;
  padding: 10px;
  color: black;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  position: absolute;
  padding: 0% 62%;
  text-align: center;
}

.título4 {
  display: flex;
  padding: 10px;
  color: black;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  position: absolute;
  padding: 8% 16%;
  text-align: center;
}

.título5 {
  display: flex;
  padding: 10px;
  color: black;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  position: absolute;
  padding: 0% 64%;
  text-align: center;
}

.título6 {
  display: flex;
  padding: 10px;
  color: black;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  position: absolute;
  padding: 8% 23%;
  text-align: center;
}

.título7 {
  display: flex;
  padding: 10px;
  color: black;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  position: absolute;
  padding: 0% 64%;
  text-align: center;
}

.título8 {
  display: flex;
  padding: 10px;
  color: black;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  position: absolute;
  padding: 6% 63%;
  text-align: center;
}

.título9 {
  display: flex;
  padding: 10px;
  color: black;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  position: absolute;
  padding: 2% 23%;
  text-align: center;
}

.resu {
  display: flex;
  padding: 0% 1%;
  color: black;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  position: absolute;
  text-align: center;

}

.resu2 {
  color: black;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 240;
  font-style: italic;

}

.sumário {
  position: relative;
  display: inline-block;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 240;
  font-style: italic;
}

.e {
  color: black;
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translate(-12%, -50%);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.t1 {
  color: black;
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-18%, -50%);
}

.t2 {
  color: black;
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-18%, -50%);
}

.t3 {
  color: black;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-18%, -50%);
}

.t4 {
  color: black;
  position: absolute;
  top: 61%;
  left: 50%;
  transform: translate(-18%, -50%);
}

.t5 {
  color: black;
  position: absolute;
  top: 81%;
  left: 50%;
  transform: translate(-18%, -50%);
}

.rodape {
  display: flex;
  justify-content: center;
  background-color: #3AC672;
}

footer img {
  width: 10%;
}

@media screen and (min-width:1024px) {
  .mato9 {
    display: flex;
  }

  .mato6 {
    display: flex;
  }

  .mato7 {
    display: flex;
  }

  .mato8 {
    display: flex;

  }

  .mato5 {
    display: flex;
    padding: 100px 10px;
  }

  .mato4 {
    display: flex;
  }

  .mato3 {
    display: flex;
  }

  .mato2 {
    display: flex;
    padding: 100px 10px;
  }

  .mato1 {
    display: flex;
  }






}